@import "~bootstrap/scss/bootstrap.scss";

html {
  direction: rtl;
}

:root {
  --default-bg-color: hsl(228, 73%, 21%);
  --default-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.bg-default {
  background-color: var(--default-bg-color);
  color: var(--default-color);
}

button {
  border: none;
}

.navbar {
  font-family: Heebo;
}

.ql-editor {
  direction: rtl;
  text-align: right;
  height: 222px;
}
